<div class="currency-pair-header">
  {{pair}}
</div>
<div class="currency-pair-body">

  <app-sell-label [sell]="sell"></app-sell-label>

  <div class="triangle">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none">
      <path *ngIf="increasing" class="increase-green" d="M0 100 L100 100 L50 0 Z" />
      <path *ngIf="!increasing" class="decrease-red" d="M0 0 L50 100 L100 0 Z" /> Sorry, your browser does not support inline SVG.
    </svg>
  </div>

  <app-buy-label [buy]="buy"></app-buy-label>

</div>