$darkgrey: #5c5c5d;
$ubs-red: #d30000;
$ubs-green: #5d9120;

:host{

    width: 20%;
    height: 120px;
    display: inline-block;
    border: 1px solid gray;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 20px;
    .triangle{
        fill: green;
        width: 20px;
        height:40px;
    }
    .currency-pair-header{
        padding-top: 2px;
        background-color: $darkgrey;
        color: white;
        text-align: center;
        font-weight: 900;
        min-height: calc(20% - 2px);
    }
    .currency-pair-body{
        background-color: #f0eff1;
        text-align: center;
        min-height: 80%;
        position: relative;
    }
    span.left-currency{
        display: inline-block;
        height: 50%;
        width: 44%;
        position: absolute;
        left: 10px;
        top: 10px;        
        .bg{
            width:100%;
            height:100%;
        }
        .obraz{
            fill: white;
            stroke:#acacac;
            stroke-width:0.5;
            width:100%;
            height:100%;
        }
        .content{
            position: absolute;
            left: 0px;
            top: 0px;
            overflow: auto;
            width: 100%;
            height:100%;
            overflow: hidden;
            color: $ubs-red;
            .label{
                &-sell{
                    font-size: 11px;
                    font-weight: 900;
                    position: absolute;
                    left: 4px;
                    top: 3px;
                }
            }
            .value{
                &-sell{
                    font-size: 20px;
                    position: absolute;
                    bottom: -5px;
                    left: 4px;
                }
            }
            &:after {
                content: "";
                display: table;
                clear: both;
              }
        }
    }

    span.right-currency{
        display: inline-block;
        height: 50%;
        width: 44%;
        position: absolute;
        right: 10px;
        top: 10px;        
        .obraz{
            fill: white;
            stroke:#acacac;
            stroke-width:0.5;
            width:100%;
            height:100%;
        }
        .content{
            position: absolute;
            right: 0px;
            top: 0px;
            overflow: auto;
            width: 100%;
            height:100%;
            overflow: hidden;
            color: $ubs-green;
            .label{
                &-buy{
                    font-size: 11px;
                    font-weight: 900;
                    position: absolute;
                    right: 4px;
                    top: 3px;
                }
            }
            .value{
                &-buy{
                    font-size: 20px;
                    position: absolute;
                    bottom: -5px;
                    right: 4px;
                }
            }
            &:after {
                content: "";
                display: table;
                clear: both;
              }
        }
    }
}